body { 
    background-color: rgb(33,44,33); 
    color: #fff;
    padding: 35px 30px;
    font-family: sans-serif;
}
a {
    color: rgb(239,97,49);
}

a:hover {
    color: rgba(239,97,49, .65);
}

button {
    color: white;
    background-color: rgb(239,97,49);
    border-width: 0;
    border-radius: 7px;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 15px;
    margin: 5px 0px;
}

button:hover {
    background-color: rgba(239,97,49, .65);
    cursor: pointer;
}

input, textarea {
    border-radius: 7px;
    border-color: rgb(239,97,49);
    border-width: 4px;
    line-height: 25px;
    font-size: 16px;
    padding: 5px 15px;
    border-style: solid;
    max-width: 100%;
    font-family: sans-serif;
}

label {
    display: block;
    padding: 15px 0px 5px;
    font-weight: bold;
}

label::after {
    content: ':';
}

/* Сброс стандартный стилей браузера >>>> */

div, li {
    box-sizing: border-box;
}

ul { 
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Сброс стандартный стилей браузера <<<< */

.header {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(239,97,49);
    border-radius: 40px;
    height: 200px;
    margin-bottom: 30px;
}

.header img {
    height: 100%;
    float: left;
}

.header > div {
    height: 100%;
    margin-left: 200px;
    padding: 50px 0 50px 10%;
}

.header .title {
    line-height: 50px;
    font-size: 40px;
}

.content {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(239,97,49);
    border-radius: 40px;
}

.navigation {
    border-radius: 30px 30px 0 0;
    background-color: rgb(239,97,49);
    overflow: hidden;
}

.navigation > li {
    display: inline-block;
    height: 70px;
    margin: 0;
}

.navigation > li > a {
    display: inline-block;
    padding: 20px;
    color: #fff;
    line-height: 30px;
    font-size: 25px;
    text-decoration: none;
}

.navigation > li:hover, .navigation > li.active > a {
    background-color: rgba(0,0,0,.2);
}

.content > div {
    padding: 30px;
}

/*Blog item style*/
.panel > h2 { 
    display: inline-block;
    margin: 0px;
    line-height: 40px;
    font-size: 20px;
}

.panel > .date { 
    color:#888;
    float: right;
    line-height: 40px;
    width: 130px;
}
.panel > p { 
    clear: both;
    font-size: 14px;
}

.panel > ul.numeric {
    list-style: decimal;
    padding-left: 20px;
}
